.root{
  width: 100%;
	min-width: max-content;
	background-color: transparent;
}

.item{
  flex: 0 0 auto;
	color: var(--mauve-11);
	height: 25px;
	padding: 0 5px;
	border-radius: 4px;
	display: inline-flex;
	font-size: 13px;
	line-height: 1;
	align-items: center;
	justify-content: center;  
}

.item:hover {
	background-color: var(--violet-3);
	color: var(--violet-11);
}

.item[data-state="on"] {
	background-color: var(--violet-5);
	color: var(--violet-11);
}

.separator{
  width: 1px;
	background-color: var(--mauve-6);
	margin: 0 10px;
}